body {
  background-color: #f8f9fa;
}

.navbar {
  margin-bottom: 20px;
}

.icons {
  margin-left: auto;
}

.list-container {
  height: 600px;
  overflow-y: scroll;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}

.note-title,
.note-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.save-note,
.new-note,
.clear-btn {
  display: none;
}